.profile-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 336px;
	height: 70%;
	align-items: center;
	column-gap: 24px;
	row-gap: 7px;
	padding-left: 32px;
	padding-top: 4px;
	min-width: 40%;
}

@media all and (max-width: 500px) {
	.profile-info {
		row-gap: 7px;
		column-gap: 0px;
		padding: 0;
		justify-content: center;
		padding-top: 26px;
	}
}

@media screen and (min-width: 500px) and (max-width: 950px) {
	.profile-info {
		column-gap: 0px;
		padding: 0;
		max-width: 50%;
	}
}