.popup__button-close {
	background-image: url(../../../images/close-icon.svg);
	width: 32px;
	height: 32px;
	background-position: 100%;
	background-size: cover;
	position: absolute;
	top: -40px;
	right: -40px;
	color: #fff;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	transition: opacity .3s linear;
	font-size: 0;
}

.popup__button-close:hover {
	opacity: .6;
	cursor: pointer;
}

@media all and (max-width: 500px) {
	.popup__button-close {
		width: 20px;
		height: 20px;
		right: 0;
		top: -36px;
	}
}