.popup__field {
	width: 90%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  margin-bottom: 17px;
  align-self: center;
  padding: 0;
  padding-bottom: 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.popup__field:focus {
	font-family: inherit;
	outline: auto;
	box-sizing: border-box;
}

@media all and (max-width: 500px) {
	.popup__field {
		width: 84.5%;
		margin-bottom: 30px;
		padding-bottom: 9.5px;
	}
}