.popup__field {
	width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
	margin: 0;
  padding: 0;
  padding-bottom: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;

}

.popup__field:focus {
	font-family: inherit;
	outline: auto;
	box-sizing: border-box;
}

/* .popup__field:invalid {
	border-bottom: 2px solid #FF0000;;
} */


@media all and (max-width: 500px) {
	.popup__field {

		padding-bottom: 8px;
	}
}